SnowballCrosshair
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	color: #fff;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: radial-gradient(rgba(1,1,1,0) 35.0%, rgba(1,1,1,1) 40.5%);
	background-size: 100%;
}
